html {
  overflow-y: scroll;
}
body {
	color: #751500;
    font-weight: bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	background:#F6F1EA url('../images/background.jpg') repeat fixed;
}
h1 {
	font-size: 28px;
	line-height: 10px;
	/*text-shadow: 2px 2px 2px #000000;*/
	/*filter: dropshadow(color=#000000, offx=2, offy=2);*/
	margin-bottom: 12px;
}
h2 {
    font-size: 14px;
}
div#wrapper {
	width:983px;
	margin:0 auto;
	padding-top:48px;
	position:relative;
}
div#sideBar {
	width:208px;
	float:left;
	position: fixed;
}
div#sideBar p {
	line-height:15px;
}
div#sideBar p#header {
	margin-top:-4px;
  display: none;
}
img#logo {
	margin:33px 0 67px;
  display: none;
}
ul#mainNav { 
	margin-bottom:65px;
}
ul#mainNav li {
	display:block;
	margin-bottom:5px;
}
ul#mainNav li a {
	color:#000;
	text-decoration:none;
	font-weight:bold;
}
ul#mainNav li a:hover {
	color:#0099ff;
}
ul#mainNav li a.active {
	color:#ff32cc;
}
div#sideBar p#data {
	line-height:17px;
}
div#sideBar p#data a {
	color:#000;
	text-decoration:none;
	font-weight:bold;
}
div#sideBar p#data a:hover,
div#sideBar p#data a.active {
	text-decoration:underline;
}
div#content {
	width:775px;
	float:right;
}
p#payoff {
	text-align:center;
	line-height:15px;
	/* margin-top:66px;*/
}
p#payoffempty {
	text-align:center;
	line-height:15px;
}

div#footer {
	margin:90px 0;
	text-align:center;
}
div#footer img {
	display:block;
	width:38px;
	margin:0 auto;
}
div#footer p {
	line-height:16px;
	margin-top:21px;
}
div#footer p span {
	color:#666;
}


.thumbs { margin: 0; padding: 0; overflow: hidden; margin-bottom: 20px;}
.thumbs li { list-style: none; float: left; margin: 5px; padding: 3px; background: #eee; -moz-box-shadow: 0 0 4px #444; -webkit-box-shadow: 0 0 2px #000; }
.thumbs li a { }
.thumbs li img { display: block; }
.thumbs li a img { border: none; /*width: 222px; height: 153px;*/}



/*** dettaglio ***/
div.intestazione {
	overflow:hidden;
	padding:0 73px 0 74px;
	margin-top:-4px;
}
div.intestazione p.title {
	float:left;
	line-height:15px;
	
	color:#666666;
}
div.intestazione p.title strong {
	color:#000000;
}
div.intestazione ul {
	float:right;
	overflow:hidden;
}
div.intestazione ul li {
	display:block;
	float:left;
	line-height:15px;
}
div.intestazione ul li a {
	color:#666666;
	text-decoration:none;
}
div.intestazione ul li a:hover {
	text-decoration:underline;
}
div#images {
	background-color:#ffffff;
	padding:34px 73px 40px 74px;
	margin:15px 0 35px;
}
div#images img {
	display:block;
}


